@import './color';

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  background: url('./images/bg.jpg') center no-repeat fixed;

  .container {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: $black;
    background-color: $white;
    height: 100vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
